@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "fira-sans" !important;
}

/* Posicionamento das setas para fora do carrossel */
.splide__arrow {
  background-color: #000; /* Cor de fundo das setas */
  color: #fff; /* Cor do ícone das setas */
  width: 40px; /* Largura das setas */
  height: 40px; /* Altura das setas */
  border-radius: 50%; /* Forma arredondada das setas */
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows-out .splide__arrow--prev {
  left: -50px !important; /* Ajuste a posição da seta anterior */
}

.arrows-out .splide__arrow--next {
  right: -50px !important; /* Ajuste a posição da seta próxima */
}
